.back-navigation-link {
  text-decoration: none;
  font-weight: 900;
  font-size: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 42px;
  height: 42px;
  border-radius: 50%;
  box-shadow: 0px 0px 2px 2px #0000001f;
  position: relative;
  color: black;
}
.back-navigation-link > span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -56%);
}